footer.footer
    section.footer__inner
        .container
            .footer__left
                .footer__logo
                    img(src='img/footer-logo.png', alt='Cooltech', class='img')
            .footer__right
                +list('socials', socialsLinks, 'footer')
                +list('footer-nav', footerCategory)
                +list('footer-nav', footerCategory2)
    section.footer__copyright
        .container
            p.copyright All right reserved. 2015. no copy allowed