.content {
  $margin: 24px;
  width: $container-width - $sidebar-width - $margin;
  float: left;
  margin-left: $margin;
}

.view {
  @extend %clearfix;

  height: 53px;
  padding: 0 21px;
  margin-bottom: 19px;
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  @include border-radius($border-radius);

  line-height: 51px;
}

.view-sort {
  float: left;
}

.view-type {
  float: right;
  margin-right: -21px;
  @extend %clearfix;
}

.view-type__list {
  display: inline-block;
  margin: 0 0 0 17px;
  padding: 0;
  list-style: none;
  float: right;
}

.view-type__item {
  display: block;
  float: left;
  padding: 0 17px;
  border-left: 1px solid $border-color;
}

.view-type__link {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
}

.view-type__link_photo-list {
  @include get-sprite($system-sprite, 'view-photo-list');
}

.view-type__link_tiel {
  @include get-sprite($system-sprite, 'view-teil');
}

.view-type__link_list {
  @include get-sprite($system-sprite, 'view-list');
}


//Каталог
$position-margin: 19px;

.catalog {
  margin-left: -$position-margin;
}

.catalog__list {
  @include inlineList($font-size);
  margin-bottom: 48px;
}

.catalog__item {
  margin-left: $position-margin;
  margin-bottom: $position-margin - 1;
}

.position {
  width: 235px;
  //height: 514px;
  padding: 19px 10px;
  background-color: #fbfbfb;
  border: 1px solid #dee1e4;
  @include border-radius($border-radius);

  &:hover {
    box-shadow: 0 1px 7.2px 0.8px rgba(153, 153, 153, 0.75);
  }
}


.position__imgs {
  width: 136px;
  margin: 0 auto;
}

.position-img {
  height: 136px;
  margin-bottom: 15px;
}

.position-img,
.position-img__item {
  position: relative;
  background-color: #ffffff;
  border: 1px solid $border-color;
  @include border-radius(2px);
  overflow: hidden;
}

.position-img > .img,
.position-img__item > .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.position-img__list {
  @include inlineList($font-size);
  margin-left: -17px;
  margin-bottom: -4px;
}

.position-img__item {
  width: 34px;
  height: 34px;
  margin-left: 17px;
  margin-bottom: 17px;
  cursor: pointer;
}

.position-img__item_active {
  border-color: #ff6600;
}

.position__title {
  height: 3em;
  margin: 0 auto;
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  font-size: 1em;
  color: #000000;
  text-align: center;
}

.position__list {
  padding-left: 0;
  margin-bottom: 7px;
  list-style: none;
}

.position__item {
  @extend %clearfix;

  padding: 3px 3px;
  line-height: 1;
}

.position__item:nth-child(odd) {
  background-color: #e6e6e6;
}

.position__param {
  float: right;
}

.position__rating {
  margin-bottom: 3px;
  text-align: center;
}

.position__rating-stars__list {
  @include inlineList($font-size);
  display: inline;
}

.position__rating-stars__link {
  display: block;
  @include get-sprite($system-sprite, 'star');
  text-indent: -9999px;
  text-decoration: none;

  &:hover {
    opacity: .6;
  }
}

.position__rating-stars__item_active > .position__rating-stars__link {
  @include get-sprite($system-sprite, 'star-active');

}

.position__rating-value {
  display: inline-block;
  padding: 0 11px;
  margin-left: 10px;
  background-color: #b5beca;
  @include border-radius(25px 25px);
  color: #ffffff;
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  font-size: em(11.82);
}

.position__price {
  display: inherit;
  margin-bottom: 3px;
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  font-size: em(20);
  text-align: center;

  &:after {
    font-family: 'FontAwesome';
    content: '\f158';
    font-size: 0.9em;
    margin-left: 4px;
  }

}

.position__footer {
  @extend %clearfix;
}

.position__footer-status,
.position__footer-cart {
  width: 50%;
  float: left;
}

.position__footer-status {
  position: relative;
  padding-left: 25px;
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  font-size: em(12);
  color: #7f7f7f;
  line-height: 33px;

  &:before {
    position: absolute;
    display: inline-block;
    left: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 7px;
    height: 7px;
    background-color: #cc1012;
    @include border-radius(50%);
  }
}

.position__footer-status_active {
  &:before {
    background-color: #60ac49;
  }
}

.position__footer-cart {
  text-align: right;
}

.position__footer-cart-btn {
  display: inline-block;
  padding: 0 15px;
  background: #ff6600;
  background: -moz-linear-gradient(top,  #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background: -webkit-linear-gradient(top,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  background: linear-gradient(to bottom,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff6e35',GradientType=0 );
  @include border-radius(4px);
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  color: #ffffff;
  text-decoration: none;
  line-height: 33px;

  &:hover {
    background: lighten(#ff6600, 10%);
  }

  &:active {
    background: darken(#ff6600, 3%);
  }
}

.pagination {
  text-align: right;
  margin-bottom: 27px;
}

.pagination__list {
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  @include inlineList(12px);
}

.pagination__item {
  padding: 0 2px;
}

.pagination__link {
  display: block;
  width: 26px;
  height: 25px;
  background-color: #fbfbfb;
  border: 1px solid $border-color;
  @include border-radius(3px);
  color: #7f7f7f;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}

.pagination__link.isAwesome {
  font-weight: bold;
  font-size: 1.1em;
}

.pagination__link:hover,
.pagination__item_active > .pagination__link {
  background-color: #e0e0e0;
}

