.content {
  $margin: 24px;
  width: $container-width - $sidebar-width - $margin;
  float: left;
  margin-left: $margin;
}

/* View panel */
.view {
  @extend %clearfix;

  height: 53px;
  padding: 0 21px;
  margin-bottom: 19px;
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  @include border-radius($border-radius);

  line-height: 51px;
}

.view-sort {
  float: left;
}

.view__label {
  float: left;
}

/* Select2 */
.view-sort__selector {
  position: relative;
  width: 143px;
  padding-left: 10px;
  float: left;
  color: #7f7f7f;
}

/* View type */
.view-type {
  float: right;
  margin-right: -21px;
  @extend %clearfix;
}

.view-type__list {
  display: inline-block;
  margin: 0 0 0 17px;
  padding: 0;
  list-style: none;
  float: right;
}

.view-type__item {
  display: block;
  float: left;
  padding: 0 17px;
  border-left: 1px solid $border-color;
}

.view-type__link {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
}

@each $item in photo-list, teil, list {
  .view-type__link_#{$item} {
    @include get-sprite($system-sprite, 'view-#{$item}');

    &:hover,
    .view-type__item_active > & {
      @include get-sprite($system-sprite, 'view-#{$item}-hover');
    }
  }
}

/* Pagination */
.pagination {
  text-align: right;
  margin-bottom: 27px;
}

.pagination__list {
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  @include inlineList(12px);
}

.pagination__item {
  padding: 0 2px;
}

.pagination__link {
  display: block;
  width: 26px;
  height: 25px;
  background-color: #fbfbfb;
  border: 1px solid $border-color;
  @include border-radius(3px);
  color: #7f7f7f;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}

.pagination__link_isAwesome {
  @extend .isAwesome;

  font-weight: bold;
  font-size: 1.1em;
}

.pagination__link:hover,
.pagination__item_active > .pagination__link {
  background-color: #e0e0e0;
}

