.content {
  $margin: 24px;
  width: $container-width - $sidebar-width - $margin;
  float: left;
  margin-left: $margin;
}

.view {
  @extend %clearfix;

  height: 53px;
  padding: 0 21px;
  margin-bottom: 19px;
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  @include border-radius($border-radius);

  line-height: 51px;
}

.view-sort {
  float: left;
}

.view__label {
  float: left;
}

.view-sort__selector {
  position: relative;
  width: 143px;
  padding-left: 10px;
  float: left;
  color: #7f7f7f;

  .select2-container--default .select2-selection--single {
    height: auto;
    background-color: #ffffff;
    border: 1px solid #EBEDEF;
    @include border-radius(3px);
    box-shadow: inset 0 1px 1px 0 #949494;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 24px;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    @include get-sprite($system-sprite, 'open-select');
    border: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .select2-container--open .select2-selection--single .select2-selection__arrow b {
    @include get-sprite($system-sprite, 'close-select');
  }
}

//.view-sort__select {
//  display: none;
//}

//.view-sort__btn {
//  position: relative;
//  display: inline-block;
//  width: 100%;
//  //height: 29px;
//  line-height: 29px;
//  padding: 0 14px;
//  margin-left: 10px;
//  background-color: #ffffff;
//  border: 1px solid #EBEDEF;
//  box-shadow: inset 0 1px 1px 0 #949494;
//  @include border-radius(3px);
//  cursor: pointer;
//
//  &:after {
//    position: absolute;
//    display: block;
//    content: '';
//    top: 12px;
//    right: 6px;
//    @include get-sprite($system-sprite, 'open-select');
//  }
//}
//
//.view-sort__selector_active > .view-sort__btn {
//  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
//
//  &:after {
//    @include get-sprite($system-sprite, 'close-select');
//  }
//}

//.view-sort__list {
//  display: none;
//  position: absolute;
//  top: 40px;
//  left: 10px;
//  padding: 0;
//  line-height: 14px;
//  border: 1px solid #EBEDEF;
//  @include border-radius(0 0 3px 3px);
//  box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.1);
//  list-style: none;
//  z-index: 100;
//}
//
//.view-sort__selector_active > .view-sort__list {
//  display: block;
//}
//
//.view-sort__item {
//  border-bottom: 1px solid #EBEDEF;
//
//  &:last-child {
//    border-bottom-width: 0;
//  }
//}
//
//.view-sort__link {
//  display: block;
//  width: 141px;
//  padding: 7px 14px;
//  background-color: #ffffff;
//  text-decoration: none;
//  color: #7f7f7f;
//
//  &:hover {
//    background-color: #fbfbfb;
//  }
//}
//
//.view-sort__item:last-child > .view-sort__link {
//  @include border-radius(0 0 3px 3px);
//}


.view-type {
  float: right;
  margin-right: -21px;
  @extend %clearfix;
}

.view-type__list {
  display: inline-block;
  margin: 0 0 0 17px;
  padding: 0;
  list-style: none;
  float: right;
}

.view-type__item {
  display: block;
  float: left;
  padding: 0 17px;
  border-left: 1px solid $border-color;
}

.view-type__link {
  display: inline-block;
  vertical-align: middle;
  text-indent: -9999px;
}

.view-type__link_photo-list {
  @include get-sprite($system-sprite, 'view-photo-list');

  &:hover,
  .view-type__item_active > & {
    @include get-sprite($system-sprite, 'view-photo-list-hover');
  }
}

.view-type__link_tiel {
  @include get-sprite($system-sprite, 'view-teil');

  &:hover,
  .view-type__item_active > & {
    @include get-sprite($system-sprite, 'view-teil-hover');
  }
}

.view-type__link_list {
  @include get-sprite($system-sprite, 'view-list');

  &:hover,
  .view-type__item_active > & {
    @include get-sprite($system-sprite, 'view-list-hover');
  }
}

.pagination {
  text-align: right;
  margin-bottom: 27px;
}

.pagination__list {
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  @include inlineList(12px);
}

.pagination__item {
  padding: 0 2px;
}

.pagination__link {
  display: block;
  width: 26px;
  height: 25px;
  background-color: #fbfbfb;
  border: 1px solid $border-color;
  @include border-radius(3px);
  color: #7f7f7f;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
}

.pagination__link.isAwesome {
  font-weight: bold;
  font-size: 1.1em;
}

.pagination__link:hover,
.pagination__item_active > .pagination__link {
  background-color: #e0e0e0;
}

