.sidebar {
  width: 333px;
  float: left;
}

.sidebar__section {
  margin-bottom: 37px;
}

.category__list, .filters, .sidebar__list {
  list-style: none;
  padding-left: 0;
}

.category__link {
  display: block;
  padding: 13px 28px;
  background-color: #fbfbfb;
  border: 1px solid $border-color;
  border-top-width: 0;
  color: #7f7f7f;
  text-decoration: none;
}

.category__link:hover,
.category__item_active > .category__link {
  background-color: #D9E5EA;
  color: #5d656c;
}

.category__item:first-child .category__link,
.filters__item:first-child {
  border-top-width: 1px;
  -webkit-border-radius: $border-radius $border-radius 0 0;
  -moz-border-radius: $border-radius $border-radius 0 0;
  border-radius: $border-radius $border-radius 0 0;
}

.category__item:last-child .category__link,
.filters__item:last-child {
  -webkit-border-radius: 0 0 $border-radius $border-radius;
  -moz-border-radius: 0 0 $border-radius $border-radius;
  border-radius: 0 0 $border-radius $border-radius;
}

.filters__item {
  position: relative;
  padding: 13px 29px;
  background-color: #fbfbfb;
  border: 1px solid $border-color;
  border-top-width: 0;
  transition: all .3s ease;

  &:hover {
    background-color: #d9e5ea;
  }
}

.filters__item_active {
  &:hover {
    background-color: #fbfbfb;
  }

  //& > .filters__inner {
  //  display: block;
  //}

  & > .filters__title {
    font-size: em(16);
    margin-bottom: 15px;

    &:hover:after {
      @include get-sprite($system-sprite, 'filters-close');
    }
  }
}

.filters__inner {
  display: none;
}

.filters__inner_active {
  display: block;
}

.filters__title {
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  font-size: em(14);
  margin: 0;
  cursor: pointer;
  transition: margin .3s ease, font-size .3s ease;

  &:hover:after {
    position: absolute;
    content: '';
    display: block;
    top: 18px;
    right: 12px;
    @include get-sprite($system-sprite, 'filters-open');
  }
}

//некрасиво
//.filters__item:hover > .filters_title {
//  font-size: em(16);
//}

.sidebar__list {
  margin-bottom: 17px;
}

.sidebar__list:last-child {
  margin-bottom: 6px;
}

.sidebar__item {
  position: relative;
  margin-bottom: 17px;
  padding-left: 29px;
  line-height: 19px;


  &:last-child {
    margin-bottom: 0;
  }
}

/* Sidebar controls */
.sidebar__radio,
.sidebar__checkbox {
  position: absolute;
  clip: rect(0,0,0,0);
}

.sidebar__label {
  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
  }

  cursor: pointer;
}

.sidebar__label_radio {
  &:before {
    width: 13px;
    height: 13px;
    background-color: #fbfbfb;
    border: 3px solid #dee1e4;
    @include border-radius(50%);
  }

  &:after {
    position: absolute;
    display: none;
    content: '';
    top: 5px;
    left: 5px;
    width: 9px;
    height: 9px;
    background-color: #ff6600;
    @include border-radius(50%)
  }
}

.sidebar__label_checkbox {
  &:before {
    width: 19px;
    height: 19px;
    line-height: 19px;
    background-color: #dee1e4;
    color: #333333;
    font-family: 'FontAwesome';
    text-align: center;
    @include border-radius(3px);
  }

  &:hover:before {
    content: "\f00c";
  }
}

.sidebar__radio:checked ~ .sidebar__label_radio:before {
  background-color: #ffffff;
  border-color: #ff6600;
}

.sidebar__radio:checked ~ .sidebar__label_radio:after {
  display: block;
}

.sidebar__checkbox:checked ~ .sidebar__label_checkbox:before {
  content: "\f00c";
  background-color: #ff6600;
  color: #ffffff;
}

/* Reset filter */
.filters__reset {
  display: block;
  margin-bottom: 4px;
  color: #5db2fc;
}

/* Price */
.price__range {
  margin-bottom: 18px;
  @extend %clearfix;
}

.price__range-from,
.price__range-to {
  width: 50%;
  float: left;
}

.price__range-to {
  text-align: right;
}

.price__range-input {
  display: inline-block;
  width: 83px;
  height: 29px;
  padding: 7px 9px;
  margin-left: 10px;
  border: 1px solid $border-color;
  @include border-radius(4px);
}

.price__slider {
  position: relative;
  width: 100%;
  height: 3px;
  margin-bottom: 18px;
  background-color: $border-color;
}

/* Colors */
$color-margin: 22px;
.colors {
  max-width: 214px + $color-margin;
  @include inlineList(0);
  margin-left: -$color-margin;
  margin-bottom: -17px;
}

.colors__item {
  position: relative;
  margin-left: $color-margin;
  margin-bottom: $color-margin;
}

.colors__label {
  display: block;
  width: 37px;
  height: 37px;
  border: 1px solid $border-color;
  cursor: pointer;
  background-color: white;

  &:hover {
    opacity: .7;
  }
}

.sidebar__checkbox:checked ~ .colors__label {
  box-shadow: 0 0 2px 2px #ff6600;
}