body {
  background-color: #f4f4f4;
  font-family: 'open_sansregular', 'Open Sans Regular', sans-serif;
  font-size: $font-size;
  color: $color;
}

.wrapper {
  min-width: $container-width + 20;
  min-height: 100%;
  margin-bottom: -$footer-height;

  &:after {
    display: block;
    content: ' ';
    height: $footer-height;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.footer {
  min-width: $container-width + 20;
  height: $footer-height;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @extend %col;
    width: (100% / 12) * $i;
  }
}

.img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.paragraph {
  text-indent: 2.5em;
  line-height: 1.45;
  margin-bottom: 20px;
  text-align: justify;
}

.isAwesome {
  font-family: 'FontAwesome';
}