$font-size: 14px;
$font-size-context: 14;

$container-width: 1100px;

$sidebar-width: 333px;

$border-radius: 6px;

$border-color: #dee1e4;

$footer-height: 220px;

$system-sprite: sprite-map("system/*.png", $spacing: 20px);

$socials-sprite: sprite-map("socials/*.png", $spacing: 20px);

$color: #333333;