.header {
  height: 80px;
  min-width: 1100px;
  padding: 25px 0;
  background-color: #ffffff;
  border-bottom: 2px solid #ebedef;
  font-size: em(16);
}

.header > .container {
  @extend %clearfix;
}

.socials, .address, .phone {
  line-height: 26px;
}

.socials {
  float: left;
}

.socials__list {
  @include inlineList();
}

.socials__item {
  margin-left: 16px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__link {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #000000;
  @include border-radius(50%);
  text-indent: -9999px;

  &:before {
    position: absolute;
    display: block;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@each $social in facebook, vk, twitter {
  .socials__link_#{$social} {
    &:before {
      @include get-sprite($socials-sprite, '#{$social}');
    }

    &:hover:before {
      @include get-sprite($socials-sprite, '#{$social}-hover');
    }
  }
}



.address, .phone {
  float: right;
}

.address {
  font-size: em(14, 16);
  font-style: normal;
  color: $color;

  &:before {
    @include get-sprite($system-sprite, 'map-pin');

    content: ' ';
    display: inline-block;
    margin-bottom: -2px;
    padding-right: 9px;
  }
}

.phone {
  margin-left: 87px;
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  font-size: em(18, 16);

  &:before {
    @include get-sprite($system-sprite, 'telephone');

    content: ' ';
    display: inline-block;
    margin-bottom: -3px;
    padding-right: 9px;
  }
}

.phone__link {
  color: $color;
  text-decoration: none;
}




// Саб хедер
.sub-header {
  height: 94px;
  padding: 30px 0;
}

.sub-header > .container {
  @extend %clearfix;
}

.logo, .search, .fast-links {
  float: left;
  line-height: 34px;
}

.logo {
  width: 246px;
}

.search, .fast-links {
  margin-left: 48px;
}

.search {
  width: 368px;
}

.search__group {
  display: table;
}

.search__input,
.search__group-addon {
  display: table-cell;
}

.search__input {
  width: 100%;
  height: 34px;
  padding: 10px 17px;
  border: 1px solid $border-color;
  border-right-width: 0;
  @include border-radius(4px 0 0 4px);
}

.search__group-addon {
  width: 1%;
  height: 34px;
  white-space: nowrap;
  vertical-align: middle;
}

.search__btn {
  height: 34px;
  padding: 0 18px;
  border: 0;
  @include border-radius(0 4px 4px 0);

  background: #ff6600;
  background: -moz-linear-gradient(top,  #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background: -webkit-linear-gradient(top,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  background: linear-gradient(to bottom,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff6e35',GradientType=0 );

  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  color: #ffffff;

  &:hover {
    background: lighten(#ff6600, 10%);
  }

  &:active {
    background: darken(#ff6600, 3%);
  }
}

.fast-links {
  width: 388px;
}

.fast-links__list {
  @include inlineList(16px);
  //margin-left: -33px;
  font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
  color: $color;
  text-align: right;
}

.fast-links__item {
  margin-left: 32px;

  &:first-child {
    margin-left: 0;
  }
}

.fast-links__link {
  color: $color;

  &:hover {
    color: #ff6600;
  }
}



// Навигация
.nav {
  height: 54px;
  min-width: 1100px;
  margin-bottom: 27px;
  background-color: #ffffff;
  border-bottom: 2px solid #ebedef;

  line-height: 52px;
}

.nav__list {
  @include inlineList(16px);
}

.nav__link {
  display: block;
  padding: 0 16px;

  color: $color;
  text-decoration: none;

  &:hover {
    background: #e4e2e2;
  }
}

.nav__item_active > .nav__link {
  background: #ff6600;
  background: -moz-linear-gradient(top,  #ff6600 0%, #ff6a1b 45%, #ff6e35 99%);
  background: -webkit-linear-gradient(top,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  background: linear-gradient(to bottom,  #ff6600 0%,#ff6a1b 45%,#ff6e35 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#ff6e35',GradientType=0 );
  color: #ffffff;
}
