.info > .container {
  @extend %clearfix;
}

.info {
  margin-bottom: 29px;
}

.info__title {
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  font-size: em(20);
  margin: 0 0 18px;
}

.info__left,
.info__right {
  width: 50%;
  float: left;
}

.info__left {
  padding-right: 20px;
}

.info__right {
  padding-left: 20px;
}