.info {
  margin-bottom: 29px;
}

.info__title {
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  font-size: em(20);
  margin: 0 0 18px;
}

.info__text {
  p {
    @extend .paragraph;
  }

  .column {
    padding: 0 20px;
  }

  .first.column {
    padding-left: 0;
  }

  .last.column {
    padding-right: 0;
  }
}