.main > .container {
  @extend %clearfix;
}

.content__title {
  margin: 0 0 28px;
  font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
  font-size: em(20);
}

@import "main/sidebar";
@import "main/slider";

@import "main/content";
@import "main/select2";
@import "main/content_default";
@import "main/content_teil";
@import "main/content_clear";