extends common/layout

block title
    title Мобильные телефоны - Cooltech

block breadcrumbs
    - var breadCrumbs = ['Главная', 'Каталог']
    include partials/breadcrumbs

block content

    h1.content__title Мобильные телефоны

    include partials/main/sidebar

    include partials/main/content
