section.content
    .view
        .view-sort
            span.view__label Сортировать по
            .view-sort__selector
                select(name='sort', class='view-sort__select')
                    option По цене
                    option По наличию
                    option По понтовости

        .view-type
            span.view__label Вид каталога
            +list('view-type', viewLinks, '', 1)

    .catalog.catalog_teil
        ul.catalog__list
            - var i = 0;
            while i <= 8
                li.catalog__item
                    .position
                        .position__header
                            .slideshow
                                .slideshow__preview
                                    img(src='uploads/catalog/samsung.jpg', alt='samsung', class='img slideshow__img')
                                ul.slideshow__list
                                    each item, index in [1, 2, 3]
                                        li(class='slideshow__item' + (index == 0 ? ' slideshow__item_active' : ''))
                                            a(href='http://lorempixel.com/200/200/technics/#{index}', class='slideshow__link')
                                                img(src='http://lorempixel.com/50/50/technics/#{index}', alt='samsung', class='img slideshow__img')
                            .position__code
                                span.position__code-title Артикул
                                span.position__code-value 189238

                        .position__body
                            h4.position__title
                                a(href='#', class='position__link') Samsung GT-I9391I Galaxy S3
                            p.position__desc Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...

                            ul.position__list
                                each item, index in positionParams
                                    li.position__item #{item.param}
                                        span.position__param #{item.value}

                            .position__rating
                                ul(data-value='4').stars
                                    each item, index in [1, 2, 3, 4, 5]
                                        li.stars__item
                                            a(href='#', class='stars__link') *

                                span.position__rating-value 4

                        .position__footer
                            .position__footer-wrapper
                                span.position__price 10 990
                                .position__action
                                    .position__action-cart
                                        a(href='#', class='position__action-cart-btn') В корзину
                                    .position__action-status.position__action-status_active В наличии

                - i++

        .pagination
            +list('pagination', paginationList, '', 1)