- var socialsLinks = [ {link: '#', text: 'facebook', className: 'socials__link_facebook'}, {link: '#', text: 'vk', className: 'socials__link_vk'}, {link: '#', text: 'twitter', className: 'socials__link_twitter'} ]
- var fastLinks = [ {link: '#', text: 'Карта проезда'}, {link: '#', text: 'История заказов'}, {link: '#', text: 'Корзина'} ]
- var navLinks = [ {link: '#', text: 'Планшеты'}, {link: '#', text: 'Мобильные телефоны'}, {link: '#', text: 'Mp3 плееры'}, {link: '#', text: 'Персональные компьютеры'}, {link: '#', text: 'Ноутбуки'}, {link: '#', text: 'Аксессуары'}, {link: '#', text: 'Бытовая техника'} ]
- var viewLinks = [{link: '#', text: 'Список с фото', className: 'view-type__link_photo-list'}, {link: '#', text: 'Плиткой', className: 'view-type__link_tiel'}, {link: '#', text: 'Список без фото', className: 'view-type__link_list'}]
-
    var
        footerSocialsLinks = [
            {link: '#', text: 'facebook', className: 'footer-socials__link_facebook'},
            {link: '#', text: 'vk', className: 'footer-socials__link_vk'},
            {link: '#', text: 'twitter', className: 'footer-socials__link_twitter'} ]